<div class="container pt-3">
    <div>
        <p class="fs-5 fw-bold">Bienvenue sur K@rcial store, le service de vente en ligne N°1 au Cameroun!</p>
        <p class="info-text">
            Sur Karcial store, nous vous proposons un large choix de produits parmi les plus grandes marques au meilleur
            prix, d'une qualité exceptionnelle et contrôlée. Retrouvez la liste de nos meilleures marques en faisant un
            tour sur notre boutique en ligne au Cameroun !Et pour les fêtes de fin d´année, achetez vos cadeaux de Noel
            pour toute la famille! grâce à notre site de vente en ligne facile d’utilisation. Retrouvez ainsi à portée
            de main tous les meilleurs articles high-tech comme la gamme Samsung Galaxy avec notamment le Samsung Galaxy
            S7, les téléphones Tecno, les smartphones Orange ou encore les tablettes de poche; ainsi que tout le
            nécessaire pour remplir et décorer votre maison, et aussi tout l'univers pour toute la famille… livrés à
            domicile ou dans point relais. K@rcial store propose à tous ses utilisateurs de régler leurs achats au
            moment de la livraison.
        </p>
    </div>
    <div>
        <p class="fs-5 fw-bold">Des promotions qui vont vous satisfaire...</p>
        <p class="info-text">
            L'achat en ligne n'a jamais été aussi facile avec notre site de vente K@rcial Store. Notre boutique regorge
            d'offres alléchantes et de promotions à longueur d'année. Restez brancher sur K@rcial Store afin de profiter
            de nos flash sales et nos événements extraordinaires tels que nos soldes explosifs sur les smartphones avec
            le Mobile Week au encore l'évènement international que vous connaissez tous : le Black Friday. K@rcial Store
            est aussi votre mall en ligne où vous pouvez faire vos courses sans même bouger de votre place. Notre
            plateforme innovante rend le shopping en ligne un vrai jeu d'enfant.
        </p>
    </div>
    <div>
        <p class="fs-5 fw-bold">High Tech, Multimédia et équipements électroménagers en un click :</p>
        <p class="info-text">
            Faites-vous livrer des appareils électroménagers dans les plus brefs délais. Nous avons conçu pour vous un
            large éventail de robots ménagers, des climatiseurs et des réfrigérateurs de haute qualité. Vous avez envie
            d'une Smart TV 4K de dernière génération pour plus de confort visuel ? Craquez pour notre assortiment de
            Télévisions Samsung disponible en format LED, la HD des TV LG ou encore des Tvs Nasco performantes et
            accessibles à petits prix. Avec votre nouvelle TV, vous pouvez rajouter une console PS4 ou un DVD afin de
            faire le plein du divertissement. Nous avons tout mis à la perfection afin de répondre à vos besoins
            quotidiens. Donnez libre cours à vos talents en photographie en vous offrant un appareil photo Nikon pour
            capturer tous les beaux endroits du monde. K@rcial Store est en permanence alimentée par l'envie de vous
            offrir les dernières nouveautés sur le marché. C'est pourquoi nous avons apporté pour vous les meilleurs
            deals de smartphones Android, Windows ou iPhone. Divers choix sont possibles, vous pouvez trouver des
            smartphones performants de marques comme Infinix ou Tecno, proposés à des prix imbattables. Les enfants,
            quant à eux, voudront une tablette ludique ou un iPad comme cadeau. Cliquez et à vous les meilleurs deals !
        </p>
    </div>
    <div>
        <p class="fs-5 fw-bold">Soyez le prémier informé sur les nouveautés (1)</p>
        <p class="info-text">
            Avec la newsletter K@rcial Business, restez connectés pour découvrir en avant-première les nouvelles gammes
            de produits constamment mises à jour par nos équipes. Suivez-nous également sur Facebook pour plus
            d’informations sur les dernières tendances et promotions disponibles sur K@rcial Store. Pour toutes vos
            questions et suggestions, notre service client se tient à votre disposition de 9h à 18h du lundi au vendredi
            et de 9h à 16h le samedi. Vous pouvez aussi nous contacter au numéro 222 314 853 ou à l'adresse suivante :
            karcialstore@vente.com.
        </p>
    </div>
</div>