<div class="d-flex align-items-center justify-content-between support mt-4">
    <div class="w-50 p-4">
        <p class="fs-4 text-light">Achetez vos produits, neufs et d'occasion en quelques cliques et en toute
            sécurité. Nous
            disposons des
            produits de qualité aux meilleurs prix. Nous vous proposons un service après vente au besoin.
            Nous faisons aussi dans le depanage des smart phone.
            Pour tous vos problèmes de telephones, nous avons une solution sur mesure pour vous.</p>
    </div>
    <div class="w-50">
        <img class="w-100 h-100" src="assets/images/errorPhone.jpg" alt="">
    </div>
</div>