<div class="container d-flex justify-content-between align-items-center h-auto overflow-hidden menu">
    <div class="menu-aside">
        <p>Produits en ventes</p>
        <p>Téléphones</p>
        <p>Electronique</p>
        <p>Fours</p>
        <p>Micro-ondes</p>
        <p>Frigos</p>
        <p>Accesoires de cuisine</p>
        <p>Promotions</p>
    </div>
    <ngb-carousel class="carousel-container">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/images/10508.jpg" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/images/75106.jpg" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/images/65402.jpg" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="menu-aside">
        <p>Services les plus demandés</p>
        <p>Livraisons à domicile</p>
        <p>Dans un point de reception</p>
        <p>Inscriptions</p>
        <p>Commnadéz depuis l'étranger</p>
        <p>La politique des prix</p>
        <p>Devenez des vendeurs</p>
        <p>Faites des économies</p>
    </div>
</div>