.menu {
    width: 100%;
    height: auto;
}
.carousel-container {
    height: auto;
    width: 700px;
}

.menu-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 424px;
    border: 1px solid black;
}
