<div class="container mt-4 bg-light">
    <h1>Smart Phone, Ordinateurs, Téléviseurs Numérique, l'électroménager</h1>

    <h1 class="text-center">Des marques Leader</h1>
    <div class="d-flex align-items-center justify-content-between">
        <img class="sponsor-img" src="assets/images/sponsors/77.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/alcatel.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/apple.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/blackBerry.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/Infinix.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/intel.png" alt="">
    </div>

    <div class="d-flex align-items-center justify-content-between">
        <img class="sponsor-img" src="assets/images/sponsors/Itel.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/Lenovo.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/lg.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/Samsung1.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/Sony.png" alt="">
        <img class="sponsor-img" src="assets/images/sponsors/Wiko.png" alt="">
    </div>

</div>