<div class="w-100 h-auto p-2">
    <nav class="d-flex flex-column">
        <div class="d-flex justify-content-between align-items-center pt-1">
            <div class="w-25 h-25">
                <img class="w-25 h-25" src="assets/images/karcialLogo.png" alt="">
            </div>
            <div class="d-flex">
                <ul class="d-flex list-unstyled mx-2 fs-5">
                    <li class="mx-2"><a class="text-decoration-none" href="">Account</a></li>
                    <li class="mx-2"><a class="text-decoration-none" href="">Cart</a></li>
                </ul>
                <form class="" action="">
                    <input class="rounded" type="text" />
                    <input class="rounded" type="submit" value="Search">
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="dropdown">
                <ul class="d-flex list-unstyled fs-4">
                    <li>
                        <a href="" class="dropdown-toggle text-decoration-none" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown">
                            Accueil
                        </a>
                        <ul class="dropdown-menu fs-5" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item p-3" href="#">K@rcial_eTech</a></li>
                            <li><a class="dropdown-item p-3" href="#">K@rcial_immo</a></li>
                            <li><a class="dropdown-item p-3" href="#">K@rcial_learning</a></li>
                            <li><a class="dropdown-item p-3" href="#">K@rcial_store</a></li>
                        </ul>
                    </li>

                    <li class="mx-3"><a class="text-decoration-none" href="">Apropos</a></li>

                    <li>
                        <a href="" class="dropdown-toggle text-decoration-none" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown">
                            ITcenter
                        </a>
                        <ul class="dropdown-menu fs-5" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item p-3" href="#">K@rcial_cyber</a></li>
                        </ul>
                    </li>

                    <li class="mx-3"><a class="text-decoration-none" href="">Forum</a></li>

                    <li class="mx-3"><a class="text-decoration-none" href="">Business</a></li>
                </ul>
            </div>
        </div>
        <div class="w-100 h-auto">
            <img class="w-100 h-auto" src="assets/images/karcialStoreBanner.png" alt="">
        </div>
    </nav>
</div>