<div class="container d-flex w-100 justify-content-between flex-wrap mt-2">
    <div class="card mt-4 bg-transparent" style="width: 18rem;">
        <img src="assets/images/bg-top.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Electroménager</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 49$</li>
            <li class="list-group-item">Rating:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span>4.5</span>
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
        </div>
    </div>
    <div class="card mt-4 bg-transparent" style="width: 18rem;">
        <img src="assets/images/group-of-home-appliances-isolated-on-white-background.png" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Electroménager</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 49$</li>
            <li class="list-group-item">Rating:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span>4.5</span>
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
        </div>
    </div>
    <div class="card mt-4 bg-transparent" style="width: 18rem;">
        <img src="assets/images/Palmares-marques-televiseur.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Electroménager</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 49$</li>
            <li class="list-group-item">Rating:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span>4.5</span>
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
        </div>
    </div>
    <div class="card mt-4 bg-transparent" style="width: 18rem;">
        <img src="assets/images/work.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Electroménager</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 49$</li>
            <li class="list-group-item">Rating:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span>4.5</span>
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card mt-4 bg-transparent" style="width: 18rem;">
        <img src="assets/images/samsung-galaxy-s8-plus.jpg.pagespeed.ce.JPsJ_KcE5H.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Electroménager</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 49$</li>
            <li class="list-group-item">Rating:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span>4.5</span>
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card mt-4 bg-transparent" style="width: 18rem;">
        <img src="assets/images/laptop-i5-asus-x507ub-4gb-1tb-mx110-2gb-156-free-dos.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Electroménager</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 49$</li>
            <li class="list-group-item">Rating:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span>4.5</span>
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card mt-4 bg-transparent" style="width: 18rem;">
        <img src="assets/images/appareil-photo-canon-ixus-185-noir.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Electroménager</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 49$</li>
            <li class="list-group-item">Rating:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span>4.5</span>
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card mt-4 bg-transparent" style="width: 18rem;">
        <img src="assets/images/Electro-voice-5-1-ch-home-theater.png_350x350.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Electroménager</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 49$</li>
            <li class="list-group-item">Rating:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <span>4.5</span>
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>